* {
    box-sizing: border-box;
}

:root {
    --primary: #9addaf;
    --secondary: #35605A;
}

html {
    --s: 30px;
    --c1: #ffffff;
    --c2: #f5f5f5;

    --_s:37.5% 12.5% at 62.5%;
    --_g:34% 99%,#0000 101%;
    --g1:radial-gradient(var(--_s) 100%,#0000 32%,var(--c1) var(--_g));
    --g2:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c1) var(--_g));
    --g3:radial-gradient(var(--_s) 100%,#0000 32%,var(--c2) var(--_g));
    --g4:radial-gradient(var(--_s) 0   ,#0000 32%,var(--c2) var(--_g));
    background:
      var(--g1),
      var(--g2) 0                calc(3*var(--s)),
      var(--g3) var(--s)         calc(3*var(--s)),
      var(--g4) var(--s)         calc(6*var(--s)),
      var(--g1) calc(2*var(--s)) calc(6*var(--s)),
      var(--g2) calc(2*var(--s)) calc(9*var(--s)),
      var(--g3) calc(3*var(--s)) calc(9*var(--s)),
      var(--g4) calc(3*var(--s)) 0,
      repeating-linear-gradient(var(--c1) 0 25%,var(--c2) 0 50%);
    background-size: calc(4*var(--s)) calc(12*var(--s));
}

body {
    margin: 0px;
    min-height: 100vh;
    font-family: arial;
    display: flex;
    flex-direction: column;
    align-items: center;

}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
}



nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--secondary);
    font-weight: bold;
    text-underline-offset: 8px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80%;

    text-align: center;
}

.header {
    margin-top: 10rem;
}

.header h1 {
    font-size: 4rem;
    font-weight: bold;
}

.header p {
    margin: 0px;
    font-size: 1.5rem;
    font-weight: 100;
}

.choices {
    margin: 2rem;
    display: flex;
    gap: 2rem;
}

.choices a {
    padding: 1rem 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgb(196, 196, 196);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.1s;
}

.choices a:hover {
    box-shadow: 0px 8px 8px rgb(196, 196, 196);
}

.choices a:first-child {
    background-color: var(--primary);
    color: white;
}

.choices a:last-child {
    background-color: white;
    color: var(--primary);
}

footer {
    width: 100%;
    background-color: var(--primary);
    text-align: center;
    color: white;
    border-radius: 50% 50% 0 0;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.username {
    color: var(--secondary);
    font-weight: bold;
}
