<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories | Grocerio</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="wrapper">
        <%- include('../partials/navbar') %>
        <main>
            <h1>Error: <%= status %></h1>
            <p>The serves has encountered an error:</p>
            <p><%= message %></p>
        </main>
        <%- include('../partials/footer', { error: true }) %>
    </div>
</body>
</html>
