<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Grocerio</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <%- include('../partials/navbar') %>


    <main>
        <div class="header">
            <h1>The best tool to manage your products. </br> Start your journey today.</h1>
            <p>Easy. Quick. Handy. What else would you want? Go ahead and start your inventory! </p>
        </div>
        <div class="choices">
            <a href="/categories">View categories</a>
            <a href="/categories">View products</a>
        </div>
    </main>

    <%- include('../partials/footer', { error: false }) %>
</body>
</html>
